<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Song In This Album</title>
</head>
<body>
    <h3>Add a new Song</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}

            <label>{{ field.label_tag }}</label>
            <span>{{ field.errors }}</span>
                <div>{{ field }}</div>

        {% endfor %}
    <br>
        <button type="submit">Add Song</button>
    </form>
</body>
</html>