<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
</head>
<body>
    <h3>Create a new User</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <span>{{ field.errors }}</span>
            <label>{{ field.label_tag }}</label>
            <div>{{ field }}</div>
        {% endfor %}
    <br>
        <button type="submit">Add User</button>
    </form>
</body>
</html>